*{
	margin: 0px;
	padding: 0px;
}
 .footer{
    background-color: #a5746a!important;
    height: 250px;
    width: 100%;
  }
  @media(max-width: 600px){
    .footer{
    background-color: #a5746a!important;
    height: 470px;
    }
  }
   .ban{
  	background-image: url('../image/m5.jpg');
  	width: 100%;
  	height: 500px;
  	background-size:cover;
  }
  @media(max-width: 600px){
  	.ban {
    background-image: url('../image/m5.jpg');
    width: 100%;
    height: 200px;
    background-size: cover;

}

  }
  .a{
  	font-size: 75px;
    position: relative;
    top: 261px;
    left: -315px;

  }
  @media(max-width: 600px){
  	.a{
  		font-size: 37px;
    position: relative;
    top: 117px;
    left: -6px;
  	}
  }
  .mark{
  	padding-left: 279px;
  	background-color:#ca293800;
  }
  @media(max-width: 600px){
  	.mark{
  		padding-left: 0px;
  	}
  }