*{
  margin: 0px;
  padding: 0px;
}
 .footer{
    background-color: #a5746a!important;
    height: 250px;
    width: 100%;
  }
  @media(max-width: 600px){
    .footer{
    background-color: #a5746a!important;
    height: 470px;
    }
  }
 
  .ban{
      width: 100%;
    height: 500px;
    background-size: cover;
  }
  @media(max-width: 600px){
     .ban{
    width: 100%;
    height: 300px;
    background-size: ;
  }
}
  .our{
    font-size: 118px;
    text-align: center;
    position: relative;
    top: -267px;
    color: #ba1736;
  }
  @media(max-width: 600px){
    .our{
   top: -123px;
    color: #ff0018e6;
    font-size: 49px;
  }
}
.set{
   margin-left: -11px;
 }
 @media(max-width: 600px){
  .set{
   margin-left: 10px;
   width: 94%;
  }
 }
 .set2{

 }
 @media(max-width: 600px){
  .set2{
    width: 97%;
  }
 }