*{
	margin: 0px;
	padding: 0px;
}
.pic{
    height: 43%;
    margin-left: 32px;
    margin-top: 22px;
  }
  .footer{
    background-color: #a5746a!important;
    height: 250px;
  }
  @media(max-width: 600px){
    .footer{
    background-color: #a5746a!important;
    height: 470px;
    }
  }
   .ban{
  	width: 100%;
  	height: 430px;
  	background-size: cover;
    
  }
  @media(max-width: 600px){
  	 .ban{
  	
  	width: 100%;
  	height: 240px;
  	background-size:cover;
    
  }
}
.a{
    font-size: 75px;
    position: relative;
    top: -210px;
    left: 22px;

  }
  @media(max-width: 600px){
    .a{
     font-size: 27px;
    position: relative;
    top: -125px;
    left: 4px;
    }
  }